{% extends "base.html" %}
{% block content %}


<h1> We provide a unique (and long) list of flavors to choose from. All of our cakes are iced in a thick layer of our buttercream, which is made in the Swiss tradition, with three simple ingredients: egg whites, butter, and sugar. Select vegan and gluten-free* options are available upon request, for an additional charge.

*We offer gluten-free items, but we are NOT a gluten-free facility.<br> Our staff is trained on the importance of these allergies 
so we can provide gluten-free products with as little exposure to cross-contamination as possible. We ensure that utensils, machinery,
and displays are cleaned and sanitized between use, but please take note that there may still be particles in the air.

  </h1>
  
  <h2>⌇ - Not available in carved cake shapes

V - Available in vegan for an additional fee

GF - Available in gluten-free for an additional fee

C - Available in cupcake form </h2>


<h3> AMARETTO CREAM C

Scrumptious yellow cake with a decadent Amaretto buttercream (*not suitable for those with nut allergies) </h3>

 

<h4>BANANAS FOSTER ⌇

A moist yellow cake layered with traditional bananas foster - ripe bananas sautéed in dark sugar and liqueur - topped with Swiss buttercream </h4>

 

<h5>BEURRE NOISETTE C

Yellow cake layered with beurre noisette buttercream, which has the rich, nutty flavor of browned butter (does not contain nuts) </h5>

 

<h6>CARROT ⌇V/GF/C

Our staff's favorite - moist, dense carrot cake layered with Swiss buttercream  (*please note that our vegan carrot cake contains nuts) </h6>

 

<h7>CHOCOLATE V/GF/C

Rich chocolate cake layered with luscious dark chocolate buttercream </h7>

 

<h8>CHOCOLATE ESPRESSO C

Our moist, chocolate cake soaked with fresh-brewed espresso, layered with espresso buttercream  </h8>

 

<h9>CHOCOLATE INFINITY

Rich chocolate cake layered with our heavenly dark chocolate ganache </h9>

 

<h10>CHOCOLATE MINT C

Chocolate cake layered with a delicious mint buttercream </h10>

 

<h11>CHOCOLATE RASPBERRY V

Chocolate cake layered with a rich chocolate frosting and raspberry preserves </h11>

 

<h12>COOKIES & CREAM ⌇

Chocolate cake layered with Swiss buttercream mixed with an Oreo cookie crumble- an instant classic! </h12>

 

<h13>DULCE DE LECHE

Tender yellow cake layered with silky dulce de leche buttercream and drizzled with caramel </h13>

 

<h14>LEMON C

Yellow cake layered with tangy yet sweet lemon buttercream </h14>

 

<h15>LEMON RASPBERRY  *NEW FLAVOR!*

Yellow cake with our tangy yet sweet lemon buttercream and raspberry preserves  </h15>

 

<h16>MARBLE

A perfect mix of white and chocolate cakes swirled together and topped with Swiss buttercream </h16>

 

<h17>MEXICAN CHOCOLATE  *NEW FLAVOR!*

Perfect if you're looking to spice things up! Chocolate cake layered with our cinnamon and chili infused dark chocolate ganache </h17>

 

<h18>MUDSLIDE C

Rich chocolate cake topped with a luscious Kahlua buttercream </h18>

 

<h19>PASSIONFRUIT C

Yellow cake topped with a tart and sweet passionfruit buttercream </h19>

 

<h20>PEANUT BUTTER CUP V

For the kid inside! Moist chocolate cake layered with peanut butter filling and chocolate frosting </h20>

 

<h21>PUMPKIN CHOCOLATE CHIP ⌇

Moist pumpkin cake dotted with miniature bittersweet chocolate chips and topped with Swiss buttercream </h21>

 

<h22>RED VELVET GF/C

Delectable red velvet chocolate cake layered with Swiss buttercream </h22>

 

<h23>STRAWBERRY SHORTCAKE C

Yellow cake layered with an irresistible strawberry buttercream </h23>

 

<h24>TANDY  V  *NEW FLAVOR!*

Moist yellow cake with layers of peanut butter and chocolate fudge frosting - one taste and you'll be hooked!  </h24>

 

<h25>WHITE CHOCOLATE RASPBERRY

Velvety yellow cake layered with white chocolate buttercream and raspberry preserves </h25>

 

<h26>YELLOW GF/C

Classic perfection: moist yellow cake topped with Swiss buttercream </h26>

 

<h27>YELLOW AND CHOCOLATE GF/C

Moist yellow cake filled with our subtle, yet distinctive chocolate buttercream </h27>
{% endblock %}